# SPDX-FileCopyrightText: 2024 Matthew Mark Ibbetson
# SPDX-FileContributor: Matthew Mark Ibbetson
#
# SPDX-License-Identifier: GPL-3.0-or-later

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.{rs,toml,json}]
indent_size = 4

[*.{typ,md,dj,org,txt,yaml}]
indent_size = 2
